### Kelvin Ndungu Wainaina
### N11/03/0589/018
### CAT

In [1]:
# Install packages
!pip install pandas
!pip install numpy
!pip install sklearn
!pip install scikit-learn
!pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/knightofcode/.local/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/knightofcode/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.21.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from pandas) (1.22.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/knightofcode/.local/lib/python3.10/site-packages (1.22.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in /home/knightofcode/.local/lib/python3.10/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/knightofcode/.local/lib/python3.10/site-packages (from sklearn) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: joblib>=0.11 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: numpy>=1.14.6 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.22.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (3.1.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/knightofcode/.local/lib/python3.10/site-packages (1.0.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (1.8.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /home/knightofcode/.local/lib/python3.10/site-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /home/knightofcode/.local/lib/python3.10/site-packages (from nltk) (2022.4.24)
Requirement already satisfied: click in /usr/lib/python3/dist-packages (from nltk) (8.0.3)
Requirement already satisfied: tqdm in /home/knightofcode/.local/lib/python3.10/site-packages (from nltk) (4.64.0)
Requirement already satisfied: joblib in /home/knightofcode/.local/lib/python3.10/site-packages (from nltk) (1.1.0)

In [2]:
# Imports
import pandas as pd
import numpy as np
import seaborn as sns
import nltk
import itertools
import csv
import string
import re

In [4]:
# Load the data
source_1 = pd.read_csv('../data/cat.csv')
source_1

   Index  Country   Age   Salary Purchased
0      0    India  38.0  68000.0        No
1      1   France  43.0  45000.0       Yes
2      2  Germany  30.0  54000.0        No
3      3   France  48.0  65000.0        No
4      4  Germany  40.0      NaN       Yes
5      5    India  35.0  58000.0       Yes
6      6  Germany   NaN  53000.0        No
7      7   France  49.0  79000.0       Yes
8      8    India  50.0  88000.0        No
9      9   France  37.0  77000.0       Yes

In [5]:
#interpret each of the column
source_1.dtypes

Index          int64
Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [6]:
# summary of a DataFrame
source_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Index      10 non-null     int64
 1   Country    10 non-null     object
 2   Age        9 non-null      float64
 3   Salary     9 non-null      float64
 4   Purchased  10 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 528.0+ bytes

In [ ]:
dependent_variables = 
independent_variabble =

Assumptions take in place for missing data it is the average of each category to get the missing data

In [9]:
# Mean of Ages
mean_age = np.mean(source_1.Age)
mean_age

41.111111111111114

In [10]:
# Mean of Salary
mean_salary = np.mean(source_1.Salary)
mean_salary

65222.22222222222

In [ ]:
# Formatting the Data
mean_age = int(mean_age)
mean_salary = int(mean_salary)