In [1]:
# Data Science Internship

In [2]:
# Install packages
!pip install pandas
!pip install numpy
!pip install sklearn
!pip install scikit-learn
!pip install matplotlib
!pip install seaborn
!pip install plotly

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/knightofcode/.local/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: numpy>=1.21.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from pandas) (1.22.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/knightofcode/.local/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/knightofcode/.local/lib/python3.10/site-packages (1.22.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sklearn in /home/knightofcode/.local/lib/python3.10/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/knightofcode/.local/lib/python3.10/site-packages (from sklearn) (1.0.2)
Requirement already satisfied: joblib>=0.11 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn->sklearn) (1.22.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scikit-learn in /home/knightofcode/.local/lib/python3.10/site-packages (1.0.2)
Requirement already satisfied: numpy>=1.14.6 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (1.22.3)
Requirement already satisfied: joblib>=0.11 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (1.8.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: matplotlib in /home/knightofcode/.local/lib/python3.10/site-packages (3.5.2)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib) (21.3)
Requirement already satisfied: numpy>=1.17 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib) (1.22.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: python-dateutil>=2.7 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib) (4.33.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib) (9.0.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /home/knightofcode/.local/lib/python3.10/site-packages (0.11.2)
Requirement already satisfied: scipy>=1.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from seaborn) (1.8.0)
Requirement already satisfied: pandas>=0.23 in /home/knightofcode/.local/lib/python3.10/site-packages (from seaborn) (1.4.2)
Requirement already satisfied: matplotlib>=2.2 in /home/knightofcode/.local/lib/python3.10/site-packages (from seaborn) (3.5.2)
Requirement already satisfied: numpy>=1.15 in /home/knightofcode/.local/lib/python3.10/site-packages (from seaborn) (1.22.3)
Requirement already satisfied: pillow>=6.2.0 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (9.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (1.4.2)
Requirement already satisfied: packaging>=20.0 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from matplotlib>=2.2->seaborn) (4.33.3)
Requirement already satisfied: pyparsing>=2.2.1 in /usr/lib/python3/dist-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: plotly in /home/knightofcode/.local/lib/python3.10/site-packages (5.7.0)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from plotly) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /home/knightofcode/.local/lib/python3.10/site-packages (from plotly) (8.0.1)

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import precision_recall_curve
from sklearn.metrics import average_precision_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [4]:
# Load the data
source_1 = pd.read_csv('../data/source_1.csv')
source_1

          id                                               name
0          0  Horses, asses, mules and hinnies; live, pure-b...
1          1           Horses; live, pure-bred breeding animals
2          2  Horses; live, other than pure-bred breeding an...
3          4  Horses, asses, mules and hinnies; live, other ...
4          5   Bovine animals; live, pure-bred breeding animals
...      ...                                                ...
13233  13064  Data/graphic display tubes,black/white,scr<33,...
13234  13065  Data/graphic display tubes,black/white,scr>=33...
13235  13066                              Oth.cathode-ray tubes
13236  13067                            Other cathode-ray tubes
13237  13068                   Tubes for microwaves, magnetrons

[13238 rows x 2 columns]

In [7]:
source_1 = pd.read_csv('../data/source_1.csv')

In [8]:
#interpret each of the column
source_1.dtypes

id       int64
name    object
dtype: object

In [9]:
# summary of a DataFrame
source_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13238 entries, 0 to 13237
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      13238 non-null  int64
 1   name    13238 non-null  object
dtypes: int64(1), object(1)
memory usage: 207.0+ KB

In [10]:
source_2 = pd.read_csv('../data/source_2.csv')
source_2

          id                                  name
0          0         leveillula lactucae-serriolae
1          1                   podosphaera aphanis
2          2                lathyrus czeczottianus
3          3        crocus biflorus subsp. caricus
4          4                hordeum brevisubulatum
...      ...                                   ...
48938  49099  bidens campylotheca subsp. pentamera
48939  49100                          gravity data
48940  49101             fusarium wilt of chickpea
48941  49102                    lathyrus tauricola
48942  49103   fumaria officinalis subsp. cilicica

[48943 rows x 2 columns]

In [11]:
#interpret each of the column
source_2.dtypes

id       int64
name    object
dtype: object

In [12]:
# summary of a DataFrame
source_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48943 entries, 0 to 48942
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      48943 non-null  int64
 1   name    48943 non-null  object
dtypes: int64(1), object(1)
memory usage: 764.9+ KB

In [ ]:
# Cleaning Data